h1 {
	font-size: 2em;
  margin-bottom: 30px;
}

a {
	color: #636363;
}

.hidden {
	display: none;
}

.btn {
  margin-left: 5px;
}

/* List remakes */

.list-group-item-action a:hover{
  text-decoration: none;
  color: black;
}

.remakes-index div:nth-child(2){
  margin-top: 20px;
}

/* Add new remake */

.item-highlighted{
  color: white;
  background-color: #4095bf;
}

.has-danger .rw-widget-container{
  border-color: #d9534f;
}

.has-danger label, .has-danger .text-help{
  color: #d9534f;
}

.actor-icon {
  margin-left: 5px;
}

/* Remake detail */

.tmdb div:nth-child(2){
  margin-top: 20px;
}

.options {
 margin-top: 20px; 
} 

/* Footer */

#body {
  min-height: 400px;
  margin-top: 15px;

}

footer {
  margin: 30px 0;
  font-size: 0.85em;
}

.brand-logo {
	width: 40px;
  margin: 10px;
}

/* Modal */

.modal {
  display: initial;
  position: initial;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
