h1 {
	font-size: 2em;
  margin-bottom: 30px;
}

a {
	color: #636363;
}

.hidden {
	display: none;
}

.btn {
  margin-left: 5px;
}

/* List remakes */

.list-group-item-action a:hover{
  text-decoration: none;
  color: black;
}

/* Add new remake */

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.has-danger .rw-widget-container{
  border-color: #d9534f;
}

.has-danger label, .has-danger .text-help{
  color: #d9534f;
}

/* Footer */

#body {
  min-height: 400px;
  margin-top: 15px;

}

footer {
  margin: 30px 0px;
  font-size: 0.85em;
}

.brand-logo {
	width: 40px;
  margin: 10px;
}