h1 {
	font-size: 2em;
}

a {
	color: #636363;
}

.hidden {
	display: none;
}

/* List remakes */

.list-group-item-action a:hover{
  text-decoration: none;
  color: black;
}

/* Add new remake */

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.has-danger .rw-widget-container{
  border-color: #d9534f;
}

.has-danger {
  color: #d9534f;
}

/* Footer */

.footer {
/*  position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 100px;
}

.brand-logo {
	width: 40px;
	margin: 10px;
}